* {
    margin: 0;
    padding: 0;
}

#wrapper form p img {
    width: 100%;
}

#wrapper {
    width: 100%;
    height: 100vh;
    background-image: url('../img/%EC%9D%B4%EB%AF%B8%EC%A7%80%202@2x.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


#wrapper form {
    width: 70%;
    height: 465px;
    margin: auto;
}

#wrapper form p {
    text-align: center;

}

#wrapper form p input {
    width: 100%;
    height: 34px;
    border: none;
    background: #F5F5F5;
    outline: none;
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    color: #CCCCCC;
    border-bottom: 2px solid #CCCCCC;
}

#wrapper form p input::placeholder {
    font-family: 'Noto Sans', sans-serif;
    font-size: 16px;
    color: #CCCCCC;
}

#wrapper form ul {
    display: flex;
    justify-content: space-around;
    width: 100%;
    position: relative;
    text-align: center;
    margin-top: 42px;

}


#wrapper form ul li:nth-child(2),
#wrapper form ul li:nth-child(4) {
    color: #CCCCCC !important;
}

a:hover {
    color: #2BC8AD;

}


.copyright {
    padding-top: 180px;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 14px;
    color: #999999;
}


#wrapper form ul li {
    width: 100%;
    word-break: keep-all;
    color: #666666;
    position: relative;
    opacity: 1;
    font-family: 'Noto Sans', sans-serif;

}



#wrapper form span {
    display: block;
    padding-top: 42px;


}

input[type="submit"] {
    height: 60px;
    color: #FFFFFF;
    background: #2BC8AD;
    width: 100%;
    font-size: 18px;
    border: none;
    font-family: 'Noto Sans', sans-serif;

}


#wrapper form p:nth-child(2) {
    padding-top: 70px;
    padding-bottom: 61px;
}

.height {
    width: 100px;
    height: 170px;

}

body {
    width: 100%;
}
